*,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    :root {
      color-scheme: light dark;
    }

    body {
      margin: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      display: grid;
      place-content: center;
      height: 100vh;
      padding: 36px 36px 100px 36px;
      grid-template-rows: 1fr;
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow-y: scroll;
      height: 100%;
      scroll-behavior: smooth;
      padding-bottom: 48px;
    }

    #messages>li {
      padding: .5rem 1rem;
    }

    #messages>li:nth-child(odd) {
      background: #000;
    }

    #chat {
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow: hidden;
      width: 350px;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
    }
    
    #chat-header {
      background: #1a1a1a;
      padding: 10px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #333;
    }

    #header-title {
      margin: 0;
      font-size: 1.2rem;
    }

    #back-button {
      background: none;
      border: none;
      color: #09f;
      cursor: pointer;
      padding: 5px 10px;
      font-size: 0.9rem;
    }

    #form{
      display: flex;
      padding: 4px;
      background: #1a1a1a;
      border-top: 1px solid #333;
    }

    #input {
      border-radius: 9999px;
      border: 1px solid #eee;
      flex: 1;
      margin-top:3px;
      margin-bottom:3px;
      padding: 0 8px;
    }

    #input:focus {
      outline: 0;
    }

    #form>button {
      background: #09f;
      color: #fff;
      border: 0;
      margin: 4px;
      border-radius: 4px;
    }

    #form>button:hover {
      background: #0cf;
    }
    /*Estilos para notificaciones de ingreso o salida del chat*/
    .container{
      display: flex;
      gap: 20px;
      height: 80vh;
      align-items: flex-start;
    }

    #chatUnidos {
      border: 1px solid #444;
      border-radius: 4px;
      width: 250px;
      height: 100%;
      padding: 10px;
      background-color: #1111;
      overflow-y: auto;
    }
    #status-messages{
      list-style: none;
      padding:0;
      font-size: 0.85rem;
    }

